<!-- 
Author: Amanda Martel
Filname: edit-product.ejs
Class: WDD 3600 - Node Complete Guide
Date: 2/2/2023
-->

<!-- use include statement to render header -->
<%- include('../includes/head.ejs') %>    
<link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
<!-- use include statement to render navigation -->
<%- include('../includes/navigation.ejs') %>   
    <!-- Create Main -->
    <main>
        <!-- Create form -->
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
             <!-- Create input field -->
             <div class="form-control">
                 <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>">
             </div>
             <!-- Create image URL -->
            <div class="form-control">
                <label for="imageUrl">Image Url</label>
                <input type="text" name="imageUrl" id="imageUrl" value="<% if (editing) { %><%= product.imageUrl %><% } %>">
            </div>       
             <!-- Create input field -->
             <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.01" value="<% if (editing) { %><%= product.price%><% } %>">
            </div>         
             <!-- Create input field -->
             <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows=5><% if (editing) { %><%= product.description%><% } %></textarea>
            </div>       
            <% if (editing) { %>
                <input type="hidden" value="<%= product.id %>" name="productId">
            <% } %>   
             <!-- Create button -->
             <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>        </form>
    </main>
<!-- use include statement to render body -->
<%- include('../includes/end.ejs') %> 