<!-- 
Author: Amanda Martel
Filname: cart.ejs
Class: WDD 3600 - Node Complete Guide
Date: 2/2/2023
-->

<!-- use include statement to render header -->
<%- include('../includes/head.ejs') %>    
</head>

<body>
    <!-- use include statement to render navigation -->    
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.productData.title %></h1>
                        <h2>Quantity: <%= p.qty %></h2>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= p.productData.id %>" name="productId">
                            <button class="btn danger" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <h1>No Products in Cart!</h1>
        <% } %>
    </main>
        <!-- use include statement to render body -->
    <%- include('../includes/end.ejs') %>
