<!-- 
Author: Amanda Martel
Filname: orders.ejs
Class: WDD 3600 - Node Complete Guide
Date: 2/2/2023
-->


<!-- use include statement to render header -->
<%- include('../includes/head.ejs') %>    
</head>

<body>
    <!-- use include statement to render navigation -->    
    <%- include('../includes/navigation.ejs') %> 
    <main>
        <h1>Nothing there!</h1>
        <% } else { %>
            <ul>
                <% orders.forEach(order => { %>
                    <li>
                        <h1># <%= order.id %></h1>
                        <ul>
                            <% order.products.forEach(product => { %>
                                <li><%= product.title %> (<%= product.orderItem.quantity %>)</li>
                            <% }); %>
                        </ul>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>