<!-- 
Author: Amanda Martel
Filname: product-detail.ejs
Class: WDD 3600 - Node Complete Guide
Date: 2/2/2023
-->

<!-- use include statement to render header -->
<%- include('../includes/head.ejs') %>    
</head>

<body>
    <!-- use include statement to render navigation -->    
    <%- include('../includes/navigation.ejs') %> 
    <main class="centered">
        <h1><%= product.title %></h1>
        <hr>
        <div>
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <h2><%= product.price %></h2>
        <p><%= product.description %></p>
        <!-- add to cart button -->
        <%- include('../includes/add-to-cart.ejs') %>
    </main>
    <!-- use include statement to render body -->
    <%- include('../includes/end.ejs') %> 